openapi: 3.0.3
servers:
  - url: "https://api.granve.com"
    description: Production
  - url: "https://api-sandbox.granve.com"
    description: Sandbox
info:
  title: Granve API
  version: "1.2.0"
  contact:
    email: hola@granve.com
  description: |
    ## Introduction

    Welcome to the Granve API. It lets you create payment orders, redirect your customer to a
    hosted payment page, and query the state of every transaction of your account.

    The API is designed around REST principles: predictable URLs, JSON request and response
    bodies, and standard HTTP status codes. All responses are JSON, including errors.

    Conventions: lists return 200 with an empty array when nothing matches (404 is
    reserved for missing individual resources) and default to today only when no dates
    are sent. Monetary amounts in responses are strings with two decimals ("100.00") —
    parse with a decimal type, never float. Response timestamps use `YYYY-MM-DD HH:MM:SS`
    in America/Caracas time (UTC−4, no DST); the `X-Date` request header, in contrast, must
    be UTC.

    Rate limit: 100 requests/second per account, shared by all its credentials. Every response
    carries `X-RateLimit-Limit` and
    `X-RateLimit-Remaining`; exceeding the limit returns `429` with a `Retry-After` header.
    A short burst above the limit is slowed down rather than rejected — expect latency before
    a `429`. Respect `Retry-After`; retrying immediately makes the spike worse.

    ## What changes for your integration (1.2.0)

    Version 1.2.0 changes how credentials work. Five things to know:

    1. **Each credential only does what it is allowed to**, service by service — PayIn and
       PayOut at *View* or *View and create*; Balance at *View*. A request outside its
       permissions gets `403`: `token_permission_denied` (it lacks the service, or the level) or
       `token_payment_method_denied` (not that payment method). See Credentials › Permissions by
       endpoint for the service and level of every endpoint.
    2. **We record which credential made each call.** Quote the `request_id` of an error, or the
       `X-Request-Id` header of any response, and we can tell you which credential made it. See
       Credentials.
    3. **Each webhook is signed by the credential that created the payment or payout**, even
       after you deactivate it or it expires. The body carries `credential` (inside what is
       signed) and the `X-Granve-Credential` header names it, so you can pick the private token.
       Verify with that credential's private token, and reject the delivery if `credential` is
       not the credential you created that payment or payout with. Keep the private token of a
       deactivated or expired credential for at least 30 days. See Webhooks.
    4. **A credential can expire.** When it is created you choose 1 day, 7 days, 1 month or no
       expiry. An expired credential gets `401` with `credential_expired`. The account holder
       and Granve are emailed 24 hours before a 7-day or 1-month credential expires, and when
       any credential expires. See Credentials › Expiry.
    5. **Each environment has its own credentials**, and credentials created from 1.2.0 on accept
       only the signature described in Authentication. See Environments.

    Credentials issued before 1.2.0 keep working: PayIn and PayOut at *View and create*, Balance
    at *View*, reading the whole account, with no expiry. Check their payment methods in the
    portal (see Credentials).

    ## Quickstart

    Every integration follows the same path — build against **Sandbox**, then go live with the
    production base URL and a production credential (each environment has its own credentials):

    1. **Get your Sandbox credential** — Granve issues it on request (hola@granve.com): a public
       token (`Authorization` header) and a private token (signing key). ⚠ **The private token is
       a server-side secret** — anyone who reads it can sign requests as you:
       - ✗ never anywhere the browser can get it — page source, JavaScript bundles, a config
         endpoint, cookies or storage — nor sent from it by *any* mechanism (`fetch()`, XHR,
         WebSockets, form posts or whatever comes next);
       - ✗ never inside a mobile or desktop app (extracting it from the binary takes minutes);
       - ✓ always **your backend → Granve API**: the customer's browser talks to your server,
         and your server makes the signed call.

       Exposing the token in public code is a security vulnerability on your side and your
       responsibility as an integrator. Suspect a leak? Deactivate that credential right away —
       in the portal for Production, through hola@granve.com for Sandbox — and get a new one
       (see Credentials).
    2. **Point to Sandbox** — `https://api-sandbox.granve.com`. Nothing there touches real money.
    3. **Sign a request** — send `Authorization`, `X-Date` and `X-Sign` (see Authentication).
    4. **Create a payment order** — `POST /v1.0/payment`; the response contains the `id`
       (your permanent handle, `pi_…`) and the `redirect_url`.
    5. **Redirect your customer** to `redirect_url` — the hosted page collects and validates the
       payment. In sandbox, a reference ending in `00` simulates a successful payment.
    6. **Confirm the result** — Granve calls your registered webhook and sends the customer back
       to your return URL. Always confirm by querying the API, never by the redirect alone.
    7. **Go live** — create a production credential in the portal (Configuración › Integración),
       switch the base URL to `https://api.granve.com` and sign with that credential. Register
       your production webhook/return URLs (they are per-environment) and check
       `"livemode": true` in responses.

    ## Environments

    | Environment  | Base URL                          |
    |--------------|-----------------------------------|
    | Production   | https://api.granve.com            |
    | Sandbox      | https://api-sandbox.granve.com    |

    **Each environment has its own credentials.** Production credentials are created in the
    merchant portal (see Credentials); Sandbox credentials are issued by Granve on request
    (hola@granve.com). A credential only works in its own environment: sent to the other one, it
    is rejected with `401`. If you integrated before 1.2.0, your credential keeps working in
    Sandbox until Granve issues you a Sandbox credential of your own — you will be told the date
    in advance.

    ⚠ A request to `https://api.granve.com` with a production credential creates a real
    transaction that moves real money, even from test code. Keep the base URL and the credential
    together in one config per environment, never mix them, and assert `livemode` on every
    response: `false` = Sandbox (safe), `true` = Production (real).

    ## Credentials

    A credential is what your backend signs with: a **public token** (`prkey-…`, sent in the
    `Authorization` header) and a **private token** (`prscr-…`, the signing key). An account can
    have as many credentials as it needs — one per store, backend or team — and each one states
    what it is for and how long it is valid. Administrators of your account create, edit and
    deactivate the production ones in the Granve merchant portal, under
    **Configuración › Integración** (`https://comercios.granve.com/configuracion/integracion`).
    Sandbox credentials are issued by Granve on request (see Environments).

    Every credential has:

    - a **name**, chosen by you and unique among your active credentials;
    - an **ID** (`ai_…`). It is not secret: the portal shows it, and every webhook carries it
      (see Webhooks);
    - its **permissions**, service by service, each at one level: No, *View* (*Ver* in the
      portal) or *View and create* (*Ver y crear*). A credential has at least one service:
      - **PayIn** (*Cobros*): *View* lists and gets your payment orders; *View and create* also
        creates them, with the payment methods it may charge with — only methods enabled on
        your account;
      - **PayOut** (*Pagos*): *View* lists and gets your payouts; *View and create* also sends
        them;
      - **Balance** (*Saldo*): *View* only — the balance and the wallet movements. A credential
        with Balance and without PayOut can reconcile but cannot pay;
    - **what it reads**: the whole account (*Ve toda la cuenta*) or only what it created
      (*Ve solo lo que crea*), within the services it can view: it never gives access to a
      service the credential does not have;
    - its **validity** (*Vale por*): 1 day, 7 days, 1 month or no expiry (*Sin vencimiento*),
      chosen when it is created.

    A credential **restricts, it never grants**: it only uses what your account has contracted
    and enabled. Its permissions apply on every request, and an edit applies from the next one.
    A request outside them is rejected with `403` — `token_permission_denied` or
    `token_payment_method_denied` (see Errors). Every call is recorded with the credential that
    made it.

    - **The private token is shown once**, when the credential is created; the credential is
      ready to use a few seconds later. Granve cannot show the private token again: if you lose
      it, deactivate the credential and create a new one.
    - **Editing** changes the name, the services and their levels, and the payment methods —
      never the tokens or the validity. A payment method can be added only if it is enabled on
      your account; any can be removed.
    - **Deactivating is permanent** and takes effect at once: the credential stops
      authenticating (`401`), but it keeps signing the webhooks of what it created (see
      Webhooks).
    - **Rotating** a credential is creating a new one, switching your backend to it and then
      deactivating the old one.
    - Editing and deactivating a credential ask for a 6-digit code, sent to the security contact
      of the administrator who does it; creating one asks for it only when it has PayOut at
      *View and create*. The account holder and Granve are emailed on every creation, edit,
      deactivation and expiry.
    - **A new payment method is not added on its own.** When Granve enables a method on your
      account, add it to the credentials that should charge with it by editing them — or ask
      Granve, who can edit or deactivate a production credential for you. The account holder is
      emailed either way.
    - **Credentials issued before 1.2.0** keep working and do not expire. They are listed in the
      portal with PayIn and PayOut at *View and create*, Balance at *View* and whole-account
      reads: check which payment methods they have, and edit them to add any enabled method
      they lack.
    - All the credentials of an account **share its rate limit** (100 requests/second) and its
      `order` identifiers: an `order` is unique across all of them.

    ### Permissions by endpoint

    Every endpoint needs one service at one level. A credential without it gets
    `403 token_permission_denied`, right after authentication and the rate limit (see Errors);
    what the credential reads (the whole account or only what it created) only narrows what the
    credential can already view.

    | Endpoint | Service and level it needs |
    |---|---|
    | `POST /v1.0/payment` | PayIn at *View and create*, and the `payment` method among its methods |
    | `GET /v1.0/payment`, `/payment/{id}`, `/payment/order/{order}` | PayIn at *View* or more |
    | `POST /v1.0/payout` | PayOut at *View and create* |
    | `GET /v1.0/payout`, `/payout/{id}`, `/payout/order/{order}` | PayOut at *View* or more |
    | `GET /v1.0/wallet/balance`, `/wallet`, `/wallet/{id}` | Balance at *View* |
    | `GET /v1.0/payment-methods`, `GET /v1.0/banks` | None — any active credential |
    | `GET /v1.0/payment/notify/{id}/valid/{valid}` | None — it carries its own signature (see Webhooks) |

    A payment method the credential does not have gets `403 token_payment_method_denied`.
    `GET /v1.0/payment-methods` lists exactly the methods the credential you sign with can
    charge with, and an empty array when it does not have PayIn at *View and create*.

    ### When Granve pauses a payment method

    Granve can pause a payment method — for every account or for yours. A pause does not change
    your credential: while it lasts, `POST /v1.0/payment` with that method gets
    `403 payment_method_disabled` even if the credential has the method,
    `GET /v1.0/payment-methods` does not list it, and it cannot be added to a credential. When
    Granve resumes it, the same credential charges with it again: there is nothing to edit.
    Meanwhile, retry later or charge with another method.

    ### Expiry

    The validity is chosen when the credential is created — 1 day, 7 days, 1 month or no expiry
    — and cannot be changed later. To keep integrating past that date, create a new credential
    before it expires and switch your backend to it.

    - From the second it expires, the credential no longer authenticates: a request **correctly
      signed** with it gets `401` with `error.code = "credential_expired"` and
      `error.message = "This credential expired. Create a new one in the merchant portal."`. A
      request whose signature is wrong gets `auth_failed`, as always: `credential_expired` is
      only returned when the signature is valid. The portal then shows the credential as
      *Vencida*.
    - The account holder and Granve are emailed 24 hours before a 7-day or 1-month credential
      expires, and when any credential expires. Sandbox does not send these emails.
    - An expired credential cannot be edited or reactivated, but it keeps signing the webhooks
      of what it created (see Webhooks): keep its private token for at least 30 days.
    - Credentials issued before 1.2.0 do not expire.

    ### A credential that reads only what it created

    What a credential reads only narrows what the credential can already view: first it needs the
    service at *View* (see Permissions by endpoint; otherwise `403 token_permission_denied`),
    and then it sees only what it created:

    - `GET /v1.0/payment` and `GET /v1.0/payout` list only what this credential created: the
      page, `X-Total` and the cursor count only those.
    - `GET /v1.0/payment/{id}`, `/payment/order/{order}`, `/payout/{id}` and
      `/payout/order/{order}` answer `404` for anything created by another credential.
    - `GET /v1.0/wallet` and `GET /v1.0/wallet/{id}` return only the movements of its own
      payouts: the payout debit, its fee and, if the payout was declined, the refund.
    - `GET /v1.0/wallet/balance` returns the same balance as for the whole account: there is no
      balance of its own. Like the rest of `/wallet`, it needs Balance at *View*.
    - `GET /v1.0/payment-methods` and `GET /v1.0/banks` do not depend on what it reads.

    Payments created by a payment button belong to no credential: only a credential that reads
    the whole account sees them. The `order` is still unique across the whole account.

    ## Authentication

    Every request must include three headers:

    - `Authorization`: `Bearer your_public_token`
    - `X-Date`: current UTC timestamp, ISO-8601 with explicit `Z` suffix
      (`YYYY-MM-DDTHH:MM:SSZ`), within ±5 minutes of server time.
    - `X-Sign`: hex HMAC-SHA256 of the **signed string**, keyed with your private token.

    The signed string is the same shape for every endpoint, now and in the future:

    ```
    {X-Date}\n{METHOD} {path}
    ```

    - `{X-Date}` — the exact value sent in the header, character for character.
    - `{METHOD}` — uppercase HTTP verb (`GET`, `POST`).
    - `{path}` — path only, **without host and without query string** (`/v1.0/payout`).

    Separated by a single newline, one space between method and path. There is no request body,
    no query string and no per-endpoint special case: an endpoint that takes no body is signed
    exactly like one that does. Because the signature covers the method and the path, it is only
    valid for the exact call it was built for.

    Example (PHP), for `POST /v1.0/payout`:

    ```php
    $date = gmdate("Y-m-d\TH:i:s\Z");
    $signedString = $date . "\n" . 'POST /v1.0/payout';
    $sign = hash_hmac('sha256', $signedString, $your_private_token);
    ```

    An invalid or expired `X-Date` returns `401` with `error.code = "date_invalid"`.

    Credentials created from 1.2.0 on — in the portal, or issued by Granve for Sandbox — accept
    **only** this signature: a request signed any other way is rejected with `401`
    (`auth_failed`). So is a credential sent to the other environment (see Environments), or one
    that was deactivated.

    A credential that has expired gets `401` with `error.code = "credential_expired"`, but only
    when the request is correctly signed with it (see Credentials › Expiry).

    If the credential cannot be checked on our side, the API answers `503` with
    `error.code = "service_unavailable"` and
    `error.message = "The service is temporarily unavailable. Retry later."`: nothing was
    processed. Retry with backoff.

    ## Testing

    The sandbox at `https://api-sandbox.granve.com` is a fully isolated environment with its
    own credentials, issued by Granve on request (see Environments).
    Nothing in sandbox touches real money. On the sandbox payment page, the outcome
    is decided by the LAST TWO DIGITS of the reference you type: `00` = payment
    confirmed (order completed), `99` = bank cannot find it, `50` = amount mismatch
    (rejected), anything else = bank unavailable (attempt fails; order stays pending, retry allowed).

    Payouts are simulated too: the sandbox wallet is automatically topped up with test
    balance, and the bank result is decided by the last two digits of the amount —
    `99` = declined (wallet refunded, webhook fires), `50` = stays in created (test
    polling), anything else = completed in ~10 seconds (webhook fires).

    **Differences with Production.**

    - Credentials: Sandbox has its own, issued by Granve on request (see Environments).
    - Expiry emails: Sandbox sends no email — neither the notice 24 hours before a credential
      expires nor the one when it expires. A Sandbox credential still expires on its date (Granve
      tells you when it issues it) and then gets `401 credential_expired`.
    - Refunds seen by a credential that reads only what it created: in Sandbox it does not see
      the refund movement of a declined payout (the simulated refund is not linked to the
      payout). In Production it does.

    ## Errors

    Every error uses the same envelope:
    `{"status": "failed", "error": {"code": "...", "message": "...", "request_id": "..."}}`.
    Branch on the HTTP status and on `error.code`, never on `message` or `hint`: they are for
    people and their wording may change (some PayOut hints are in Spanish). `fields` (per-field
    detail) appears only on `400`/`409`. `request_id` is on every error except `429` and the
    three body checks — quote it in support requests. The `date_invalid` case adds a `hint` and
    an `example` timestamp. New codes may be added: treat a code you do not know by its HTTP
    status.

    | `error.code` | HTTP | Meaning |
    |---|---|---|
    | `invalid_request` | 400 / 409 | Validation failed (`fields` says where), or the `order` already exists (`409`, read its `hint`). |
    | `INVALID_CONTENT_TYPE` | 415 | A `POST` without `Content-Type: application/json` ("Request body must be JSON."). Uppercase, no `request_id`. |
    | `EMPTY_BODY` | 400 | A `POST` with an empty body ("Request body must be a non-empty JSON object."). Uppercase, no `request_id`. |
    | `INVALID_JSON` | 400 | A `POST` whose body is not valid JSON ("Malformed JSON payload."). Uppercase, no `request_id`. |
    | `rate_unavailable` | 400 | PayOut: there is no current exchange rate. Nothing was created or debited; retry later. |
    | `amount_limit_exceeded` | 400 | PayOut: `amount` is above the current maximum per payout, given in `hint`. |
    | `date_invalid` | 401 | `X-Date` is missing, malformed or outside ±5 minutes. Adds `hint` and `example`. |
    | `auth_failed` | 401 | Unknown or deactivated credential, a credential of the other environment, or a wrong signature ("Invalid authentication credentials."). |
    | `credential_expired` | 401 | The credential expired ("This credential expired. Create a new one in the merchant portal."). Only when the request is correctly signed with it (see Credentials › Expiry). |
    | `token_permission_denied` | 403 | This credential does not have the service this call needs — PayIn, PayOut or Balance — at the level it needs: *View* to read, *View and create* to create (see Credentials › Permissions by endpoint) ("This credential is not allowed to perform this operation."). |
    | `token_payment_method_denied` | 403 | PayIn: this credential may not charge with that `payment` method ("This credential is not allowed to use this payment method."). |
    | `ip_not_allowed` | 403 | PayOut from an IP outside your allowlist. |
    | `account_blocked` | 403 | Your account cannot create payments or payouts right now. Contact Granve. |
    | `payin_disabled` | 503 / 403 | PayIn is paused — for every account (`503`, temporary) or for yours (`403`). |
    | `payout_disabled` | 503 / 403 | PayOut is paused — for every account (`503`, temporary) or for yours (`403`). |
    | `payment_method_disabled` | 403 | PayIn: Granve paused that payment method, for every account or for yours. Your credential is not changed: when the pause ends it charges with that method again. Meanwhile, retry later or charge with another method (see Credentials › When Granve pauses a payment method). |
    | `emission_channel_disabled` | 403 | PayOut: the channel that would send the payout is paused. |
    | `forbidden` | 403 | Not allowed, and no more specific code applies ("This operation is not allowed."). Do not retry as-is. |
    | `not_found` | 404 | No resource matched — including one created by another credential, when yours reads only what it created. |
    | `api_error` | 500 / 503 | Failure on Granve's side (`503`: no payout channel is available for your account). Retry with backoff. |
    | `service_unavailable` | 503 | Authentication or an availability check could not be completed. Nothing was processed; retry with backoff. From authentication, `message` is "The service is temporarily unavailable. Retry later." |

    A `429` carries no `code`. From the API its body is
    `{"status": "failed", "error": {"message": "Too many requests"}}` with a `Retry-After`
    header; when the limit is hit at the edge, the answer is an HTML page instead. Branch on the
    status, not on the body, and respect `Retry-After` when present.

    **Precedence.** When several errors apply, you get the first one in this order:

    - `POST /v1.0/payment`: `401` (`date_invalid`, `auth_failed`, `credential_expired`) or
      `503 service_unavailable` (authentication) → `429` → `403 token_permission_denied` (not
      PayIn at *View and create*) → `415` / `400` body checks → `400 invalid_request`
      (validation) → `403 account_blocked`, `503 service_unavailable`, `503` / `403 payin_disabled`
      → `400 invalid_request` (`fields.payment`: unsupported payment method — not available on
      your account) → `403 token_payment_method_denied` → `403 payment_method_disabled` (paused by
      Granve) → `409` duplicate `order`.
    - `POST /v1.0/payout`: `401` or `503 service_unavailable` (authentication) → `429` →
      `403 token_permission_denied` (not PayOut at *View and create*) → `415` / `400` body checks
      → `403 ip_not_allowed` → `400` / `409 invalid_request` (validation, duplicate `order`) →
      `503 api_error` (no payout channel) → `403 account_blocked`, `503 service_unavailable`,
      `503` / `403 payout_disabled`, `403 emission_channel_disabled` → `400 rate_unavailable`,
      `400 amount_limit_exceeded` → `400 invalid_request` (balance).
    - Every `GET` of `/v1.0/payment…`, `/v1.0/payout…` and `/v1.0/wallet…`: `401` or
      `503 service_unavailable` (authentication) → `429` → `403 token_permission_denied` (not
      PayIn, PayOut or Balance at *View*) → `400 invalid_request` (query or path parameters) →
      `404 not_found`.

    ## Webhooks & return URL

    **One action, every object.** When an object reaches its final state, Granve sends a
    `POST` to the webhook URL registered for your account — same payload, acknowledgment
    and retry policy for every object type; only the trigger depends on the object:
    a **payment order** (`pi_…`) notifies on reaching a terminal state — `completed`,
    `attempts_exhausted`, `expired`, `canceled_user`, and `declined` when a host2host
    verification fails for good; a **payout** (`po_…`) notifies when it is processed
    (`completed`, `declined`). Two more can reach a payment order without it being over:
    `under_review`, when a charge was sent to the bank and its outcome could not be
    established — a person resolves it, and the eventual `completed` or `declined` still
    arrives — and `created`, the host2host notice described below. The full list is the `status` enum of
    `PaymentWebhook`.

    The payload is `id`, `status` and `order` (query string + JSON body) plus `livemode` and
    `credential` (body only). `credential` is the ID (`ai_…`) of the credential whose private
    token signed the delivery. Every delivery is signed over its body: headers `X-Date`
    (UTC ISO-8601 Z), `X-Granve-Credential` (the same ID as `credential`) and
    `X-Sign` = HMAC_SHA256(X-Date + "." + raw_body, private token of that credential). Signing
    the body (not just the timestamp) means a captured signature cannot be reused with a
    different payload.

    **Which credential signs.** The credential that created the payment or payout signs every
    delivery about it — even after it has been deactivated or has expired. Payments created by a
    payment button belong to no credential: they are signed by your credential issued before
    1.2.0 while it is active, otherwise by your most recently created active credential, or by
    the last one your account had. Keep the private token of a deactivated or expired credential
    for at least 30 days: payout webhooks are retried for 30 days — and for as long as you may
    re-notify its payments manually (up to 3 months).

    **How to verify.**

    1. Pick the private token by `X-Granve-Credential`, from your own store of credentials —
       never by trying your tokens one by one. An ID that is not yours: reject.
    2. Recompute the HMAC over the received X-Date and the exact raw body, compare in constant
       time, and reject if X-Date is older than 5 minutes.
    3. Trust the body, not the header: `credential` must equal `X-Granve-Credential` (the header
       is not signed) and, for a payment or payout you created through the API, it must be the
       credential you created it with. Otherwise reject: a leaked private token of another of
       your credentials cannot forge deliveries about what it did not create.

    Delivery rules (identical for all): one delivery per `id`+`status`;
    acknowledge with HTTP `200` exactly; failed deliveries retried 3 times, 5 s apart,
    then an automatic recovery job re-queues undelivered notifications every 10 minutes
    (payments 7 days, payouts 30). Manual re-notification (payments):
    `GET /v1.0/payment/notify/{id}/valid/{valid}?expires={unix}` with `{valid}` =
    HMAC_SHA256(id + "." + expires, private token of the credential that created the order —
    for a payment button's order, or when that credential is no longer active: your credential
    issued before 1.2.0 while it is active, otherwise your most recently created active
    credential). A deactivated or expired credential is never accepted here. The re-sent delivery
    carries `credential` and
    `X-Granve-Credential` like any other. `expires` is a Unix timestamp
    at most **15 minutes** in the future; the request is rejected once it passes, so the
    URL is short-lived rather than a bearer credential that keeps working for as long as
    the order is reachable. Build it right before you use it, not ahead of time.
    The authenticated GET remains the source of truth.

    ### Verification failed (host2host only)

    A payment created with an attached `payer` proof is verified against the bank
    server-to-server, with no payer at a screen. When that verification does **not**
    succeed and the order is still payable, Granve sends an extra notification so you are
    not left waiting for a terminal state that may be hours away:

    ```json
    {
      "id": "pi_…", "status": "created", "order": "ORD-1", "livemode": true, "credential": "ai_…",
      "reason": "payment_not_found",
      "retryable": true,
      "attempts_left": 2
    }
    ```

    **`status` is the order's real status, not a failure label** — the order is still open
    and `GET /v1.0/payment/{id}` will report exactly the same value. The presence of
    `reason` is what marks the delivery as a failure notice; the fields are additive and
    every other delivery is unchanged.

    **Only accounts with host2host enabled ever receive it.** If your integration treats
    any webhook as final, check for `reason` before acting: an order reported as `created`
    has not failed — it still has `attempts_left` attempts through the checkout
    `redirect_url`.

    **In the webhook body, `reason` is a stable code**, one of: `payment_not_found` (the
    bank does not show the transfer — it may simply not be reflected yet),
    `bank_unavailable`, `amount_mismatch`, `reference_mismatch`, `reference_in_use`,
    `identity_mismatch`, `bank_not_supported`, `invalid_proof`, `order_not_payable`,
    `service_unavailable`, `busy`, `internal_error`, `verification_error`. Switch on it;
    it does not change wording.

    Do not confuse it with **`payment.reason`** inside the `GET /v1.0/payment/{id}`
    response, which is a human-readable sentence meant for display. Same word, two
    surfaces: the webhook carries the code you automate on, the payment object carries the
    message you show someone.

    **`retryable` tells you whether the same data can still succeed**, and it decides what
    happens to the order:

    - **`retryable: true`** — transient, most often `payment_not_found`: a transfer the bank
      has not reflected yet. The order **stays open** with `attempts_left` attempts. Treat it
      as "not yet", not as "no". In production this resolves in under 5 minutes in every
      measured case (median ~1 min), so a short hold is usually all it takes; send the payer
      to `redirect_url` to complete it.
    - **`retryable: false`** — the data itself is the problem and will never verify. The order
      is **closed immediately as `declined`**, carrying the same `reason` field, so you can
      release stock or seats in the same second instead of waiting for the 6-hour expiry.
      That is an ordinary terminal `declined` delivery with one extra field explaining the
      cause — if you already handle `declined`, there is nothing new to implement.

    Closing an unpaid order does **not** consume the payer's transfer: a bank reference is only
    locked once it has paid a *completed* order. If your customer did transfer and the order was
    declined on a data mismatch, the same payment can be attached to a new order.

    Delivery follows the same rules, keyed by `id`+`status`+`event`, so this notification
    never displaces the terminal one that follows.

    The payer's browser is also redirected to your registered return URL with the same
    three parameters. UX signal only.

tags:
  - name: Payment (PayIn)
    description: Create payment orders and query their state.
  - name: Payment (PayOut)
    description: Send money from your wallet to a beneficiary (Pago Móvil or transfer).
  - name: Wallet
    description: Balance and ledger movements of your Granve wallet.
  - name: Tools
    description: Utility endpoints that support your integration.
paths:
  /v1.0/payment:
    post:
      tags: [Payment (PayIn)]
      summary: Create
      description: |
        Creates a payment order and returns the payment order object, including the
        `redirect_url` where the customer must be sent to pay. Store the returned `id`:
        it identifies the order in every later query.

        When the order reaches a terminal state, the result is delivered once to the `notify_url`
        you set on this call, and the payer is redirected to your `return_url` with
        `?id=…&status=…&order=…` appended. Both URLs are required — set a different pair per order
        when one account serves several storefronts with separate backends.

        Idempotency on timeout: your `order` is the idempotency key. If this request times out
        with no response, retry with the same `order` and the same credential. A `409` means the
        first request already
        created it (never a duplicate) — recover it with `GET /v1.0/payment/order/{order}` to
        read its `id` and `redirect_url`. Never generate a new `order` for a retry: that is how
        double charges happen.

        An `order` is consumed permanently, even when nothing is charged. A payment that ended
        `declined`, `expired`, `canceled_user`, `canceled_system` or `attempts_exhausted` charged
        nothing, but its `order` can never be reused — charging that customer again requires a NEW
        `order`. This is the one case where a new `order` is correct, and it is safe because those
        are settled outcomes, not unknown ones. The `409` tells you which case you are in: read
        `error.hint`.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment, amount, email, order, description, return_url, notify_url]
              properties:
                payment:
                  type: string
                  description: "Id of the payment method to charge with — list the ones the credential you sign with can use with GET /v1.0/payment-methods (Tools)."
                amount:
                  type: string
                  pattern: '^[0-9]+(\.[0-9]{1,2})?$'
                  description: "Amount to charge. Decimal with up to 2 places; minimum 5 VES."
                email:
                  type: string
                  format: email
                  description: "Payer's email."
                order:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,50}$'
                  description: "Your unique order identifier — letters, digits and hyphens, up to 50 characters. Reusing an existing value returns 409."
                description:
                  type: string
                  minLength: 2
                  maxLength: 100
                  pattern: '^[a-zA-Z0-9 ]{2,100}$'
                  description: "Description of the product or service — 2-100 characters: letters, digits and spaces. Accents are folded to plain letters (a-acute to a, enye to n); any other character is removed."
                return_url:
                  type: string
                  format: uri
                  maxLength: 255
                  description: |
                    Where the payer's browser is sent back after the hosted payment page, for this order.
                    Any query string you include is kept — we add `?id=…&status=…&order=…` on top (so
                    don't use `id`, `status` or `order` as your own parameter names). Must be an absolute
                    `https` URL with no embedded credentials, up to 255 characters.
                notify_url:
                  type: string
                  format: uri
                  maxLength: 255
                  description: |
                    Where Granve POSTs this order's result when it reaches a terminal state. Same format
                    rules as `return_url`, and your own query string is kept the same way.
                payer:
                  type: object
                  description: |
                    Who is paying and — when they already paid by mobile payment — the proof of it.
                    Two independent uses; send either, both, or neither.

                    **1. Anchor an identity you already have.** If the customer is signed in to your
                    store and you already hold their document and phone, send them with the order.
                    The hosted payment page renders those fields **pre-filled and read-only**, so the
                    payer cannot pay under an identity other than the one you declared — and the bank
                    check that runs afterwards has something to match the transfer against. This works
                    on its own: you do not need `reference` or `date` for it.

                    **2. Skip the page for a payment already made.** Add `bank`, `reference` and
                    `date` and Granve verifies the transfer against the bank in the background,
                    instead of sending the customer to type what they already typed at their bank.

                    Every sub-field is optional, but a sub-field that is present and malformed
                    returns `400` — it is never silently dropped.

                    Two of these are read wrong often enough to call out: `bank` is the bank the payer
                    paid FROM (not the one on the payment page), and `date` is the receipt date in
                    Venezuela time (UTC-4), not your server's date.

                    These fields go **inside** `payer` — sending `document` or `phone` at the top
                    level of the body returns `400`.
                  properties:
                    document: { type: string, pattern: '^[VEJ][0-9]{7,11}$', description: "Payer's document: type letter (V, E, J) + 7-11 digits. Values that match the shape but mean nothing — all-same digits, ascending or descending runs, repeating patterns — are rejected." }
                    phone: { type: string, pattern: '^(0412|0414|0416|0422|0424|0426)[0-9]{7}$', description: "The phone the payer sent the transfer FROM. Same nonsense checks as document." }
                    bank: {
                      type: string,
                      description: "4-digit code of the payer's **issuing** bank — the bank the transfer was sent FROM, not the bank shown on the payment page. Take it from GET /v1.0/banks."
                    }
                    reference: {
                      type: string,
                      pattern: '^[0-9]{4,20}$',
                      description: "The transfer reference from the payer's receipt, 4 to 20 digits. Send it as a JSON STRING (\"12345678\"), never as a bare number: above 2^53 a JSON number loses precision when parsed, and the reference stored would not be the one you sent — such requests are rejected. Send it in full: only the LAST 14 are kept, because every bank matches by suffix — trimming from the left does not shorten a reference, it turns it into a different one. It must not equal the phone or the document."
                    }
                    date: {
                      type: string,
                      format: date,
                      description: "Date on the payer's receipt, YYYY-MM-DD, **in Venezuela time (UTC-4)**. This is not your server's date: a backend running in UTC is already on the next day after 20:00 in Caracas, and that date is rejected as being in the future. Must not be in the future."
                    }
                metadata:
                  type: object
                  additionalProperties: true
                  description: "Free key/value object you attach to the order — stored and echoed back inside merchant.metadata in every response. Up to 50 keys or 2 KB. Purely opaque: no key in here changes how the order is processed."
            example:
              payment: "YOURMETHODTOKEN"
              amount: "100.00"
              email: "user@example.com"
              order: "ORDER0001"
              description: "Lorem ipsum dolor sit"
              return_url: "https://yourdomain.com/checkout/done?cart_id=6234&ref=abc123"
              notify_url: "https://yourdomain.com/hooks/granve?source=web"
              payer:
                document: "V15427089"
                phone: "04125837194"
                # Issuing bank — deliberately different from the receiving bank so the two are not
                # mistaken for one another.
                bank: "0105"
                reference: "12345678"
                date: "2026-01-01"
      responses:
        "200":
          description: Payment order created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "400":
          description: >-
            Validation failed (`invalid_request`, with `fields`), including a `payment` method your
            account does not have; or the body is empty or not JSON (`EMPTY_BODY`,
            `INVALID_JSON` — uppercase, without `request_id`).
          content:
            application/json:
              examples:
                validation:
                  summary: Validation failed
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "Validation failed."
                      fields:
                        amount: "must be at least 5 VES"
                      request_id: "req_…"
                unsupportedMethod:
                  summary: Your account does not have that payment method
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "Validation failed."
                      fields:
                        payment: "unsupported payment method"
                      request_id: "req_…"
                emptyBody:
                  summary: Empty body
                  value:
                    status: failed
                    error:
                      code: EMPTY_BODY
                      message: "Request body must be a non-empty JSON object."
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          description: >-
            Not allowed. `token_permission_denied`: this credential does not have PayIn at View
            and create. `token_payment_method_denied`: your account has that payment method, this
            credential does not. `payment_method_disabled`: Granve paused that method, for every
            account or for yours. Your credential is not changed: when the pause ends it charges
            with that method again; meanwhile retry later or use another method.
            `payin_disabled` (PayIn paused for your account) and `account_blocked` can also come
            here. Any other `403`, without a more specific code, is `forbidden`. Order of checks:
            see Errors.
          content:
            application/json:
              examples:
                tokenPermissionDenied:
                  summary: The credential does not have PayIn at View and create
                  value:
                    status: failed
                    error:
                      code: token_permission_denied
                      message: "This credential is not allowed to perform this operation."
                      request_id: "req_…"
                tokenPaymentMethodDenied:
                  summary: The credential may not use that payment method
                  value:
                    status: failed
                    error:
                      code: token_payment_method_denied
                      message: "This credential is not allowed to use this payment method."
                      request_id: "req_…"
                paymentMethodDisabled:
                  summary: Granve paused that payment method
                  value:
                    status: failed
                    error:
                      code: payment_method_disabled
                      message: "Payments are not available right now."
                      request_id: "req_…"
        "409":
          description: >-
            The `order` identifier already exists for your account — an `order` is unique across
            all your credentials. `hint` says what happened to the existing one. When your
            credential reads only what it created and the order belongs to another credential (or
            to none, as with a payment button), the hint is fixed and says nothing more.
          content:
            application/json:
              examples:
                existing:
                  summary: The order exists and your credential can read it
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "The request conflicts with an existing resource."
                      fields:
                        order: "already exists"
                      hint: "A payment with this order already exists (completed). Do NOT create a new one: recover it with GET /v1.0/payment/order/{order}."
                      request_id: "req_…"
                otherCredential:
                  summary: The order belongs to another credential
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "The request conflicts with an existing resource."
                      fields:
                        order: "already exists"
                      hint: "This order was already used in your account. Use a new order."
                      request_id: "req_…"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: Internal server error.
        "503":
          description: >-
            Temporarily unavailable — nothing was created, so retrying later with the same `order`
            is safe. `payin_disabled`: PayIn is paused for every account. `service_unavailable`:
            authentication or an availability check could not be completed; retry with backoff.
          content:
            application/json:
              example:
                status: failed
                error:
                  code: payin_disabled
                  message: "Payments are not available right now."
                  request_id: "req_…"

      callbacks:
        paymentStatus:
          '{$request.body#/notify_url}':
            post:
              summary: Payment status notification
              description: >-
                Sent when the order reaches a terminal state, and — for orders created with an
                attached `payer` proof (host2host) — also when a verification fails while the
                order is still payable. One delivery per `id`+`status`. Acknowledge with HTTP
                200 exactly; anything else counts as a failed delivery and is retried.
              parameters:
                - name: X-Date
                  in: header
                  required: true
                  description: "UTC ISO-8601 with Z. Reject deliveries older than 5 minutes."
                  schema: { type: string, format: date-time }
                - name: X-Granve-Credential
                  in: header
                  required: false
                  description: >-
                    ID (`ai_…`) of the credential whose private token signed this delivery — the
                    same value as `credential` in the body. Use it to pick the private token; it is
                    not signed, so trust the body field. Not secret. Present on every signed
                    delivery, like `credential`.
                  schema: { type: string, pattern: '^ai_' }
                - name: X-Sign
                  in: header
                  required: true
                  description: >-
                    HMAC_SHA256(X-Date + "." + raw_body, private token of the credential named in
                    X-Granve-Credential). Recompute over the received X-Date and the exact raw
                    body, then compare in constant time.
                  schema: { type: string }
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentWebhook'
                    examples:
                      completed:
                        summary: Payment confirmed
                        value: { id: "pi_…", status: completed, order: "ORD-1", livemode: true, credential: "ai_…" }
                      verificationFailedRetryable:
                        summary: Host2host verification failed — order still open
                        value:
                          id: "pi_…"
                          status: created
                          order: "ORD-1"
                          livemode: true
                          credential: "ai_…"
                          reason: payment_not_found
                          retryable: true
                          attempts_left: 2
                      verificationFailedFinal:
                        summary: Host2host verification failed for good — order closed
                        value:
                          id: "pi_…"
                          status: declined
                          order: "ORD-1"
                          livemode: true
                          credential: "ai_…"
                          reason: amount_mismatch
                          retryable: false
              responses:
                "200":
                  description: Acknowledged.

    get:
      tags: [Payment (PayIn)]
      summary: List
      description: |
        Returns the payment orders of your account as an array of payment order objects,
        newest first.

        For large volumes use keyset pagination: read the `X-Next-Cursor` response header
        and pass it back as `after_id` to fetch the next page.

        A credential that reads only what it created gets only the orders created with it: the
        page, `X-Total` and the cursor count only those. Orders created by a payment button
        belong to no credential and are not in its list.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today; must not be in the future. The range may span at most 92 days."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10–5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: order
          in: query
          description: "Sort direction by id: DESC (default) or ASC. The same filter is named `sort` on GET /v1.0/wallet."
          schema: { type: string, enum: [ASC, DESC] }
        - name: after_id
          in: query
          description: "Keyset cursor: pass the X-Next-Cursor header from the previous page to fetch records after it."
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Array of payment order objects.
          headers:
            X-Next-Cursor:
              description: "Cursor for the next page — pass it as after_id."
              schema: { type: string }
            X-Total:
              description: "Total records for the filter (sent on the first page)."
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentOrder"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayInView"
        "500":
          description: Internal server error.
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payment/{id}:
    get:
      tags: [Payment (PayIn)]
      summary: Get
      description: >-
        Retrieves one payment order using the `id` returned by Create. A credential that reads
        only what it created gets `404` for an order created by another credential.
      parameters:
        - name: id
          in: path
          required: true
          description: "The payment order id (pi_…)."
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payment order object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayInView"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: Internal server error.
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payment/order/{order}:
    get:
      tags: [Payment (PayIn)]
      summary: Get by order
      description: >-
        Retrieves one payment order using your own `order` identifier instead of the Granve id.
        A credential that reads only what it created gets `404` for an order created by another
        credential.
      parameters:
        - name: order
          in: path
          required: true
          description: "Your order identifier (the one you sent on Create)."
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payment order object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayInView"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: Internal server error.
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payment/notify/{id}/valid/{valid}:
    get:
      tags: [Payment (PayIn)]
      summary: Re-send webhook (manual)
      description: |
        Manually re-sends the `completed` webhook of a payment whose delivery was never
        acknowledged. Self-authenticated by `{valid}` — it does not use the standard
        `Authorization`/`X-Date`/`X-Sign` headers. Only re-fires for successful orders from
        the last 3 months whose webhook is still pending; always answers 200 with an empty
        array body ([]) and never reveals whether the order exists.
      parameters:
        - name: id
          in: path
          required: true
          description: "The payment order id (pi_...)."
          schema: { type: string }
        - name: valid
          in: path
          required: true
          description: >-
            HMAC_SHA256(id + "." + expires, private token of the credential that created the
            order), hex. For a payment button's order, or when that credential is no longer
            active: your credential issued before 1.2.0 while it is active, otherwise your
            most recently created active credential. A deactivated or expired credential is
            never accepted.
          schema: { type: string, pattern: '^[a-f0-9]{64}$' }
      responses:
        "200":
          description: Always returned (empty body), whether or not anything was re-sent.

  /v1.0/payout:
    post:
      tags: [Payment (PayOut)]
      summary: Create
      description: |
        Creates a payout to a beneficiary and debits your wallet (amount + fee).

        **IP allowlist (recommended).** Because this endpoint moves money out of your wallet,
        it can be restricted to the public IPs (or CIDR ranges) your backend calls from. Send
        them to us and we register them on your account; a request from any other address is
        then rejected with `403` and `error.code = "ip_not_allowed"`. Nothing changes in your
        code. It is the one control that still protects you if your credentials leak, because
        a stolen signature is useless from an address that is not yours — tell us before you
        change hosting or add a server.

        Currency is **VES** only; any other `currency` returns `400`.

        The destination is defined by `bank.num`: an 11-digit mobile number selects
        Pago Móvil (`bank.code` required), a 20-digit account number selects bank
        transfer (`bank.type` required; the bank is taken from the account's first
        4 digits).

        Idempotency on timeout: your `order` is the idempotency key. If this request times
        out, retry with the same `order` and the same credential — a `409` means the first
        request already ran and
        your wallet was debited only once. Recover it with `GET /v1.0/payout/order/{order}`.
        Never generate a new `order` for a retry: that is how double withdrawals happen.

        An `order` is consumed permanently, even when the payout does not pay. If a previous
        payout ended `declined`, the amount was returned to your wallet and nothing was sent —
        but its `order` can never be reused, so paying that beneficiary again requires a NEW
        `order`. This is the one case where a new `order` is correct, and it is safe because
        `declined` is a settled outcome, not an unknown one. The `409` tells you which case you
        are in: read `error.hint`.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order, description, amount, beneficiary, bank]
              properties:
                order:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,99}$'
                  description: "Your unique payout identifier. Reusing a value returns 409."
                description:
                  type: string
                  minLength: 5
                  maxLength: 200
                  pattern: '^[a-zA-Z0-9 ]{5,200}$'
                  description: "Concept of the payout — 5-200 characters: letters, digits and spaces. Accents are folded to plain letters; any other character is removed."
                amount:
                  type: integer
                  minimum: 1
                  description: "Amount in VES, whole numbers only (no decimals)."
                beneficiary:
                  type: object
                  required: [name, document, email, phone]
                  properties:
                    name: { type: string, minLength: 3, maxLength: 50 }
                    document:
                      type: string
                      pattern: '^[VEJ][0-9]{7,10}$'
                      description: "Type letter (V, E, J) + 7–10 digits (shape: V12XXXXXX — send the real one, not this)."
                    email: { type: string, format: email, maxLength: 100 }
                    phone:
                      type: string
                      pattern: '^(0412|0414|0416|0422|0424|0426)[0-9]{7}$'
                      description: "11 digits; prefixes 0412, 0414, 0416, 0422, 0424, 0426."
                bank:
                  type: object
                  required: [num]
                  properties:
                    num:
                      type: string
                      pattern: '^((0412|0414|0416|0422|0424|0426)[0-9]{7}|[0-9]{20})$'
                      description: "Destination — 11-digit mobile (Pago Móvil) or 20-digit account (transfer). Polymorphic: length selects the method."
                    code:
                      type: string
                      description: "Required for Pago Móvil (11-digit num) — any code from GET /v1.0/banks. Ignored for transfers (derived from the account number)."
                    type:
                      type: string
                      enum: [A, C]
                      description: "Required for transfers (20-digit num): A (savings) or C (checking). Not used for Pago Móvil."
                metadata:
                  type: object
                  additionalProperties: true
                  description: "Free key/value object you attach to the payout — stored and echoed back inside merchant.metadata in every response. Up to 50 keys or 2 KB."
            example:
              order: "PO-0001"
              description: "Lorem ipsum payout"
              amount: 100
              beneficiary:
                name: "Lorem Ipsum"
                document: "V00000000"
                email: "user@example.com"
                phone: "04120000000"
              bank:
                num: "04120000000"
                code: "0102"
              metadata:
                customer_id: "cus_00123"
                invoice: "INV-2026-014"
      responses:
        "200":
          description: Payout created (`status = created`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          description: >-
            Validation failed or not enough balance (`invalid_request`, with `fields`); the body is
            empty or not JSON (`EMPTY_BODY`, `INVALID_JSON` — uppercase, without `request_id`); or
            the payout cannot be taken right now: `rate_unavailable` (there is no current exchange
            rate) or `amount_limit_exceeded` (`hint` gives the current maximum per payout). None of
            them creates a payout or debits your wallet.
          content:
            application/json:
              examples:
                validation:
                  summary: Validation failed
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "Validation failed."
                      fields:
                        bank.num: "must be 11 or 20 characters"
                      request_id: "req_…"
                rateUnavailable:
                  summary: There is no current exchange rate
                  value:
                    status: failed
                    error:
                      code: rate_unavailable
                      message: "Validation failed."
                      fields:
                        rate: "unavailable"
                      hint: "Payouts are temporarily unavailable: the exchange rate has not been updated. No payout was created and no balance was debited."
                      request_id: "req_…"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          description: >-
            Not allowed. `token_permission_denied`: this credential does not have PayOut at View
            and create. `ip_not_allowed`: the request came from an IP outside your allowlist.
            `payout_disabled` (PayOut paused for your account), `emission_channel_disabled` (the
            channel that would send it is paused) and `account_blocked` can also come here. Any
            other `403`, without a more specific code, is `forbidden`. Order of checks: see Errors.
          content:
            application/json:
              examples:
                tokenPermissionDenied:
                  summary: The credential does not have PayOut at View and create
                  value:
                    status: failed
                    error:
                      code: token_permission_denied
                      message: "This credential is not allowed to perform this operation."
                      request_id: "req_…"
                ipNotAllowed:
                  summary: IP outside your allowlist
                  value:
                    status: failed
                    error:
                      code: ip_not_allowed
                      message: "Origin not allowed."
                      hint: "This payout was requested from an IP that is not on your allowlist. Contact support to register it."
                      request_id: "req_…"
        "409":
          description: >-
            The `order` identifier already exists for your account — an `order` is unique across
            all your credentials. `hint` says what happened to the existing one. When your
            credential reads only what it created and the order belongs to another credential,
            the hint is fixed and says nothing more.
          content:
            application/json:
              examples:
                existing:
                  summary: The order exists and your credential can read it
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "The request conflicts with an existing resource."
                      fields:
                        order: "already exists"
                      hint: "This payout already ran and your wallet was debited only once. Do NOT create a new one: recover it with GET /v1.0/payout/order/{order}."
                      request_id: "req_…"
                otherCredential:
                  summary: The order belongs to another credential
                  value:
                    status: failed
                    error:
                      code: invalid_request
                      message: "The request conflicts with an existing resource."
                      fields:
                        order: "already exists"
                      hint: "This order was already used in your account. Use a new order."
                      request_id: "req_…"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          description: Internal server error.
        "503":
          description: >-
            Temporarily unavailable — no payout was created and nothing was debited, so retrying
            later with the same `order` is safe. `payout_disabled`: PayOut is paused for every
            account. `api_error`: no payout channel is available for your account right now.
            `service_unavailable`: authentication or an availability check could not be
            completed; retry with backoff.

    get:
      tags: [Payment (PayOut)]
      summary: List
      description: |
        Returns the payouts of your account, newest first. **Without dates the range
        defaults to today only** (empty result = 200 []). Keyset
        pagination via `after_id` + `X-Next-Cursor`, like PayIn List.

        A credential that reads only what it created gets only the payouts created with it: the
        page, `X-Total` and the cursor count only those.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today; must not be in the future. The range may span at most 92 days."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10-5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: order
          in: query
          description: "Sort direction by id: DESC (default) or ASC. The same filter is named `sort` on GET /v1.0/wallet."
          schema: { type: string, enum: [ASC, DESC] }
        - name: after_id
          in: query
          description: "Keyset cursor: pass the X-Next-Cursor header from the previous page to fetch records after it."
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Array of payout objects.
          headers:
            X-Next-Cursor:
              schema: { type: string }
            X-Total:
              description: "First page only."
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayOutView"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payout/{id}:
    get:
      tags: [Payment (PayOut)]
      summary: Get
      description: >-
        Retrieves one payout by the `id` returned on Create. Lookups cover the last 180 days. A
        credential that reads only what it created gets `404` for a payout created by another
        credential.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payout object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayOutView"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payout/order/{order}:
    get:
      tags: [Payment (PayOut)]
      summary: Get by order
      description: >-
        Retrieves the payout for your own `order` identifier. Each `order` is unique to one payout
        and cannot be reused. Lookups cover the last 180 days. A credential that reads only what it
        created gets `404` for a payout created by another credential.
      parameters:
        - name: order
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payout object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsPayOutView"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/wallet/balance:
    get:
      tags: [Wallet]
      summary: Balance
      description: >-
        Returns your current wallet balance (VES). A brand-new account with no wallet movements
        yet returns `200` with `"available": "0.00"` — not `404` — and its `pending` is already
        accurate, so you can query it from your first day. It is the same balance whatever the
        credential reads: there is no balance of its own.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: Current balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available: { type: string, description: "Disbursable now." }
                  pending: { type: string, description: "PayIn collected, not yet settled into the wallet." }
                  currency: { type: string }
                  livemode: { type: boolean }
              example:
                available: "900.00"
                pending: "150.00"
                currency: "VES"
                livemode: false
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsBalanceView"
        "404":
          description: No wallet provisioned for the account.
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/wallet:
    get:
      tags: [Wallet]
      summary: List
      description: |
        Returns the wallet movements of your account. **Without dates the range
        defaults to today only.**

        A credential that reads only what it created gets only the movements of its own
        payouts: the payout debit, its fee and, if the payout was declined, the refund.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10-5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: sort
          in: query
          description: "Sort by movement id: ASC or DESC (default)."
          schema: { type: string, enum: [ASC, DESC] }
      responses:
        "200":
          description: Array of movement objects.
          headers:
            X-Page:
              schema: { type: integer }
            X-Per-Page:
              schema: { type: integer }
            X-Total:
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WalletMovement"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsBalanceView"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/wallet/{id}:
    get:
      tags: [Wallet]
      summary: Get
      description: >-
        Retrieves one wallet movement by its `id`. A credential that reads only what it created
        gets `404` for a movement that does not belong to one of its payouts.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The movement object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletMovement"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          $ref: "#/components/responses/NeedsBalanceView"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/payment-methods:
    get:
      tags: [Tools]
      summary: List your payment methods
      description: |
        Returns the payment methods **the credential you sign with** can charge with: its PayIn
        methods that your account has contracted and that are available right now. Every `id` in
        this list is a valid value for the `payment` field of Create a payment order signed with
        the same credential — and vice versa.
        A credential without PayIn at *View and create* gets `200` with an empty array. An empty
        array can also mean that none of its methods is available on your account right now.
        A method paused by Granve is not listed while the pause lasts, and is listed again when it
        ends — the credential is not changed (see Credentials › When Granve pauses a payment
        method).
        When Granve enables a new method on your account, it shows up here only once the
        credential is edited to include it (see Credentials).
        Cache it **per credential**, and refresh it after the credential is edited or when Create
        answers `403` `token_payment_method_denied` or `payment_method_disabled`.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: One object per method this credential can use.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: "Value to send as `payment` on Create."
                    name: { type: string }
                    description: { type: string }
                    type:
                      type: string
                      enum: [mobile_payment, bank_transfer, card]
                    currency: { type: string }
                    host2host:
                      type: boolean
                      description: >-
                        Whether **your account** can attach the payment proof on this method and
                        skip the hosted page — that is, whether sending a complete `payer` object
                        on Create makes Granve verify it with the bank (`202`) instead of only
                        returning a `redirect_url` (`200`). Two switches decide it: the method must
                        be offered with host2host, and your account must be enabled for it, so
                        `false` means either one. Write to hola@granve.com to have it enabled.
              example:
                - id: "LOREMIPSUMP2C"
                  name: "Lorem Ipsum"
                  description: "Lorem ipsum dolor sit amet"
                  type: "mobile_payment"
                  currency: "VES"
                  host2host: true
        "401":
          $ref: "#/components/responses/AuthError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1.0/banks:
    get:
      tags: [Tools]
      summary: List accepted banks
      description: |
        Returns the bank catalog accepted by the API. Every `code` is a valid value for
        `bank.code` on Create a payout and for `payer.bank` on Create a payment
        order — and vice versa. The catalog rarely changes; cache it.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: One object per accepted bank, ordered by code.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code: { type: string }
                    name: { type: string }
              example:
                - code: "0102"
                  name: "BANCO DE VENEZUELA"
                - code: "0104"
                  name: "BANCO VENEZOLANO DE CREDITO"
        "401":
          $ref: "#/components/responses/AuthError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  parameters:
    HeaderAuthorization:
      name: Authorization
      in: header
      required: true
      description: "Bearer + the public token (prkey-…) of the credential you sign with."
      schema: { type: string }
    HeaderDate:
      name: X-Date
      in: header
      required: true
      description: "UTC timestamp, ISO-8601 with Z (YYYY-MM-DDTHH:MM:SSZ), ±5 minutes."
      schema: { type: string }
    HeaderSign:
      name: X-Sign
      in: header
      required: true
      description: >-
        Hex HMAC-SHA256 of the signed string `{X-Date}\n{METHOD} {path}`, keyed with the private
        token of the same credential. Path only — no host, no query string. See Authentication.
      schema: { type: string }

  responses:
    ValidationError:
      description: Validation failed. `error.fields` details each invalid field.
      content:
        application/json:
          example:
            status: failed
            error:
              code: invalid_request
              message: "Validation failed."
              fields:
                amount: "must be at least 5 VES"
              request_id: "req_…"
    AuthError:
      description: >-
        Authentication failed. `auth_failed`: unknown or deactivated credential, a credential of
        the other environment, or an invalid X-Sign. `date_invalid`: invalid X-Date.
        `credential_expired`: the credential expired — returned only when the request is
        correctly signed with it.
      content:
        application/json:
          examples:
            authFailed:
              summary: Unknown or deactivated credential, or a wrong signature
              value:
                status: failed
                error:
                  code: auth_failed
                  message: "Invalid authentication credentials."
                  request_id: "req_…"
            credentialExpired:
              summary: The credential expired
              value:
                status: failed
                error:
                  code: credential_expired
                  message: "This credential expired. Create a new one in the merchant portal."
                  request_id: "req_…"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          example:
            status: failed
            error:
              code: not_found
              message: "Resource not found."
              request_id: "req_…"
    UnsupportedMediaType:
      description: >-
        `INVALID_CONTENT_TYPE`: a `POST` without `Content-Type: application/json`. The code is
        uppercase and the error carries no `request_id`.
      content:
        application/json:
          example:
            status: failed
            error:
              code: INVALID_CONTENT_TYPE
              message: "Request body must be JSON."
    ServiceUnavailable:
      description: >-
        `service_unavailable`: authentication could not be completed on Granve's side. Nothing
        was processed; retry with backoff.
      content:
        application/json:
          example:
            status: failed
            error:
              code: service_unavailable
              message: "The service is temporarily unavailable. Retry later."
              request_id: "req_…"
    NeedsPayInView:
      description: >-
        `token_permission_denied`: this credential does not have PayIn at View or more (see
        Credentials › Permissions by endpoint).
      content:
        application/json:
          example:
            status: failed
            error:
              code: token_permission_denied
              message: "This credential is not allowed to perform this operation."
              request_id: "req_…"
    NeedsPayOutView:
      description: >-
        `token_permission_denied`: this credential does not have PayOut at View or more (see
        Credentials › Permissions by endpoint).
      content:
        application/json:
          example:
            status: failed
            error:
              code: token_permission_denied
              message: "This credential is not allowed to perform this operation."
              request_id: "req_…"
    NeedsBalanceView:
      description: >-
        `token_permission_denied`: this credential does not have Balance at View (see
        Credentials › Permissions by endpoint).
      content:
        application/json:
          example:
            status: failed
            error:
              code: token_permission_denied
              message: "This credential is not allowed to perform this operation."
              request_id: "req_…"

  schemas:
    Payout:
      type: object
      properties:
        id:
          type: string
          description: "Public identifier of the payout (po_…)."
        livemode:
          type: boolean
          description: "false in Sandbox, true in Production."
        status:
          type: string
          enum: [created, processing, completed, declined, settlement_pending, settled]
        created_at:
          type: string
        merchant:
          type: object
          properties:
            order: { type: string }
            description: { type: string }
            amount: { type: string }
            metadata:
              type: object
              additionalProperties: true
        beneficiary:
          type: object
          properties:
            name: { type: string }
            document: { type: string }
            email: { type: string }
            phone: { type: string }
        bank:
          type: object
          properties:
            code: { type: string }
            type: { type: string, nullable: true, description: "Account type for transfers: `A` = savings, `C` = checking. null for Pago Móvil." }
            num: { type: string }
            method:
              type: string
              enum: [mobile, transfer]
              description: "Delivery method."
        wallet:
          type: object
          description: "The two wallet movements generated by the payout: `payout` is the amount and `fee` is the commission. System-generated `description` values (e.g. Cargo payout…) are returned in Spanish."
          properties:
            payout:
              $ref: "#/components/schemas/WalletMovement"
            fee:
              $ref: "#/components/schemas/WalletMovement"

    WalletMovement:
      type: object
      properties:
        id: { type: string }
        livemode:
          type: boolean
          description: "false in Sandbox, true in Production. Only on the standalone movements of GET /v1.0/wallet and GET /v1.0/wallet/{id}: absent from the movements nested in a payout, where the parent object already carries it."
        created_at: { type: string }
        type:
          type: string
          enum: [credit, debit]
          description: "`credit` increases your balance, `debit` decreases it."
        description: { type: string }
        amount: { type: string, description: "Decimal string (e.g. \"100.00\"). Never a JSON number — avoids float rounding." }
        balance:
          type: string
          description: "Wallet balance right after this movement, as a decimal string (e.g. \"900.00\"). Only on the standalone movements of GET /v1.0/wallet and GET /v1.0/wallet/{id}: absent from the movements nested in a payout."
        currency: { type: string }
        deposit:
          type: object
          description: "Only on a payout's principal movement (`wallet.payout`): confirms when and how much was deposited to the beneficiary. Absent on other movements."
          properties:
            settled_at: { type: string, nullable: true, description: "Deposit date (YYYY-MM-DD); null until deposited." }
            amount: { type: string, description: "Deposited amount as a decimal string (\"0.00\" until deposited)." }

    PaymentFailureReason:
      type: string
      description: >-
        Stable machine code explaining why a verification did not succeed. Switch on this
        value; the wording of human-facing messages may change, these codes do not.
        Distinct from `payment.reason` in the payment object, which is a sentence meant for
        display. New codes may be added over time — use `retryable` to handle a code you do
        not recognise yet.
      enum:
        - payment_not_found
        - bank_unavailable
        - amount_mismatch
        - reference_mismatch
        - reference_in_use
        - identity_mismatch
        - bank_not_supported
        - invalid_proof
        - order_not_payable
        - service_unavailable
        - busy
        - internal_error
        - verification_error

    PaymentWebhook:
      type: object
      description: >-
        Body delivered to your `notify_url`. The same three values are also appended to the
        URL as a query string; the body is what the `X-Sign` signature covers.
      required: [id, status, order, livemode]
      properties:
        id:
          type: string
          description: "Public identifier of the payment order (pi_…)."
          example: "pi_9f2c1d4e6a7b8c9d0e1f2a3b4c5d6e7f"
        status:
          type: string
          description: >-
            The order's status at the moment of delivery, identical to what
            `GET /v1.0/payment/{id}` reports. `created` means the order is still open and
            payable — see `reason`.
          enum: [completed, declined, attempts_exhausted, canceled_user, expired, under_review, created]
        order:
          type: string
          description: "Your own order identifier, as sent on create."
        livemode:
          type: boolean
          description: "false in sandbox. Body only — never in the query string."
        credential:
          type: string
          pattern: '^ai_'
          description: >-
            ID of the credential whose private token signed this delivery — for a payment you
            created through the API, the credential you created it with, even if it has been
            deactivated or has expired since. Body only, inside what `X-Sign` covers; the same
            value as the `X-Granve-Credential` header, which is not signed. Present on every
            signed delivery.
          example: "ai_00000000000000000000000000000000"
        reason:
          type: string
          nullable: true
          description: >-
            Present only when a verification failed. Absent or null on ordinary terminal
            deliveries such as `completed`.
          allOf:
            - $ref: '#/components/schemas/PaymentFailureReason'
        retryable:
          type: boolean
          description: >-
            Present alongside `reason`. `true` means the same payment data may still succeed
            — typically the bank has not reflected the transfer yet — and the order is left
            open. `false` means the data will never verify and the order was closed as
            `declined` in the same delivery. Prefer this flag over hard-coding which
            `reason` codes are terminal.
        attempts_left:
          type: integer
          minimum: 0
          description: >-
            Present when the order is still open. Validation attempts remaining for the payer
            through `redirect_url`.
      example:
        id: "pi_9f2c1d4e6a7b8c9d0e1f2a3b4c5d6e7f"
        status: created
        order: "ORD-1"
        livemode: true
        credential: "ai_00000000000000000000000000000000"
        reason: payment_not_found
        retryable: true
        attempts_left: 2

    PaymentOrder:
      type: object
      properties:
        id:
          type: string
          description: "Public identifier of the payment order (pi_…)."
        livemode:
          type: boolean
          description: "false in Sandbox, true in Production."
        status:
          type: string
          description: >-
            The last five values (voided, refunded, partially_refunded, disputed,
            chargeback) are post-payment states set by Granve operations (compliance,
            support or the admin panel), never by the payment flow — treat them as
            read-only signals that can appear on an already completed order.
          enum: [created, pending, processing, under_review, retrying, completed,
                 declined, attempts_exhausted, failed, canceled_user, canceled_system,
                 expired, voided, refunded, partially_refunded, disputed, chargeback]
        created_at:
          type: string
        redirect_url:
          type: string
          description: "Signed URL of the hosted payment page — send your customer here. Opaque: host and path depend on the environment and the payment method; use it verbatim, never build or parse it."
        merchant:
          type: object
          properties:
            order: { type: string }
            description: { type: string }
            amount: { type: string }
            metadata:
              type: object
              additionalProperties: true
        payer:
          type: object
          properties:
            email: { type: string }
            document: { type: string, nullable: true }
            phone: { type: string, nullable: true }
        payment:
          type: object
          properties:
            started_at: { type: string, nullable: true }
            ended_at: { type: string, nullable: true }
            amount: { type: string }
            fee: { type: string }
            authorization:
              type: string
              nullable: true
              description: "Bank reference, present when status = completed."
            reason:
              type: string
              nullable: true
              description: "Human-readable message explaining the current status — typically the decline or failure reason. null when there is nothing to report (e.g. while pending or once completed)."
            type:
              type: string
              nullable: true
              enum: [bank_transfer, mobile_payment, card]
            card:
              type: object
              properties:
                last4: { type: string, nullable: true }
                authorization_code: { type: string, nullable: true }
                installments: { type: integer, nullable: true }
                brand: { type: string, nullable: true, description: "Card brand (e.g. Visa, Mastercard) when the payment method is a card." }
            settlement:
              type: object
              description: "When this payment was settled into your wallet. Both fields are null until settlement."
              properties:
                id: { type: string, nullable: true, description: "Settlement identifier." }
                settled_at: { type: string, nullable: true, description: "Settlement date (YYYY-MM-DD)." }
            currency: { type: string, description: "ISO currency of the payment (VES)." }

  examples:
    PaymentOrderExample:
      value:
        id: "pi_00000000000000000000000000000000"
        livemode: false
        status: "pending"
        created_at: "2026-01-01 00:00:00"
        redirect_url: "{base_url}/{payment_method}/pi_00000000000000000000000000000000?signature=…"
        merchant:
          order: "ORDER0001"
          description: "Lorem ipsum dolor sit"
          amount: "100.00"
        payer:
          email: "user@example.com"
          document: "V15427089"
          phone: "04125837194"
        payment:
          started_at: null
          ended_at: null
          amount: "0.00"
          fee: "0.00"
          authorization: null
          reason: null
          type: "mobile_payment"
          card:
            last4: null
            authorization_code: null
            installments: null
            brand: null
          settlement:
            id: null
            settled_at: null
          currency: "VES"
