openapi: 3.0.3
servers:
  - url: "https://api.granve.com"
    description: Production
  - url: "https://api-sandbox.granve.com"
    description: Sandbox
info:
  title: Granve API
  version: "1.0.0"
  contact:
    email: hola@granve.com
  description: |
    ## Introduction

    Welcome to the Granve API. It lets you create payment orders, redirect your customer to a
    hosted payment page, and query the state of every transaction of your account.

    The API is designed around REST principles: predictable URLs, JSON request and response
    bodies, and standard HTTP status codes. All responses are JSON, including errors.

    Conventions: lists return 200 with an empty array when nothing matches (404 is
    reserved for missing individual resources) and default to today only when no dates
    are sent. Monetary amounts in responses are strings with two decimals ("100.00") —
    parse with a decimal type, never float. Response timestamps use `YYYY-MM-DD HH:MM:SS`
    in America/Caracas time (UTC−4, no DST); the `X-Date` request header, in contrast, must
    be UTC.

    ## Quickstart

    Every integration follows the same path — build against **Sandbox**, then switch the base
    URL to go live (your credentials are the same in both environments):

    1. **Get your credentials** — a public token (`Authorization` header) and a private token
       (signing key). ⚠ **The private token is a server-side secret** — anyone who reads it can
       sign requests as you:
       - ✗ never anywhere the browser can get it — page source, JavaScript bundles, a config
         endpoint, cookies or storage — nor sent from it by *any* mechanism (`fetch()`, XHR,
         WebSockets, form posts or whatever comes next);
       - ✗ never inside a mobile or desktop app (extracting it from the binary takes minutes);
       - ✓ always **your backend → Granve API**: the customer's browser talks to your server,
         and your server makes the signed call.

       Exposing the token in public code is a security vulnerability on your side and your
       responsibility as an integrator. Suspect a leak? Request an immediate rotation of
       your keys.
    2. **Point to Sandbox** — `https://api-sandbox.granve.com`. Nothing there touches real money.
    3. **Sign a request** — send `Authorization`, `X-Date` and `X-Sign` (see Authentication).
    4. **Create a payment order** — `POST /v1.0/payment`; the response contains the `id`
       (your permanent handle, `pi_…`) and the `redirect_url`.
    5. **Redirect your customer** to `redirect_url` — the hosted page collects and validates the
       payment. In sandbox, a reference ending in `00` simulates a successful payment.
    6. **Confirm the result** — Granve calls your registered webhook and sends the customer back
       to your return URL. Always confirm by querying the API, never by the redirect alone.
    7. **Go live** — switch the base URL to `https://api.granve.com`. Register your production
       webhook/return URLs (they are per-environment) and check `"livemode": true` in responses.

    ## Environments

    | Environment  | Base URL                          |
    |--------------|-----------------------------------|
    | Production   | https://api.granve.com            |
    | Sandbox      | https://api-sandbox.granve.com    |

    ## Authentication

    Every request must include three headers:

    - `Authorization`: `Bearer your_public_token`
    - `X-Date`: current UTC timestamp, ISO-8601 with explicit `Z` suffix
      (`YYYY-MM-DDTHH:MM:SSZ`), within ±5 minutes of server time.
    - `X-Sign`: hex HMAC-SHA256 of the `X-Date` value, keyed with your private token.

    Example (PHP):

    ```php
    $date = gmdate("Y-m-d\TH:i:s\Z");
    $sign = hash_hmac('sha256', $date, $your_private_token);
    ```

    An invalid or expired `X-Date` returns `401` with `error.code = "DATE_INVALID"`.

    ## Testing

    The sandbox at `https://api-sandbox.granve.com` is a fully isolated environment:
    your same credentials work on both environments — only the base URL changes.
    Nothing in sandbox touches real money. On the sandbox payment page, the outcome
    is decided by the LAST TWO DIGITS of the reference you type: `00` = payment
    confirmed (order completed), `99` = bank cannot find it, `50` = amount mismatch
    (rejected), anything else = bank unavailable (attempt fails; order stays pending, retry allowed).

    Payouts are simulated too: the sandbox wallet is automatically topped up with test
    balance, and the bank result is decided by the last two digits of the amount —
    `99` = declined (wallet refunded, webhook fires), `50` = stays in created (test
    polling), anything else = completed in ~10 seconds (webhook fires).

    ## Errors

    Every error body follows the same envelope:
    `{"status": "failed", "error": {"type": "...", "message": {"field": "reason"}}}`.
    `error.type` is `invalid_request_error` (fix the request, do not retry as-is) or
    `api_error` (server-side, safe to retry with backoff). Not-found lookups return
    `404` with `{"status": "failed", "error": {"message": "not found"}}`.

    ## Webhooks & return URL

    **One action, every object.** When an object reaches its final state, Granve sends a
    `POST` to the webhook URL registered for your account — same payload, acknowledgment
    and retry policy for every object type; only the trigger depends on the object:
    a **payment order** (`pi_…`) notifies on reaching a terminal state (`completed`,
    `attempts_exhausted`, `expired`, `canceled_user`); a **payout** (`po_…`) notifies when
    it is processed (`completed`, `declined`).

    The payload is `id`, `status` and `order` (query string + JSON body) plus `livemode`
    (body only). Every delivery is signed over its body: headers `X-Date` (UTC ISO-8601 Z)
    and `X-Sign` = HMAC_SHA256(X-Date + "." + raw_body, your_private_token). Signing the
    body (not just the timestamp) means a captured signature cannot be reused with a
    different payload — recompute over the received X-Date and the exact raw body,
    constant-time compare, reject if older than 5 minutes. Delivery rules (identical for all): one delivery per `id`+`status`;
    acknowledge with HTTP `200` exactly; failed deliveries retried 3 times, 5 s apart,
    then an automatic recovery job re-queues undelivered notifications every 10 minutes
    (payments 7 days, payouts 30). Manual re-notification (payments):
    `GET /v1.0/payment/notify/{id}/valid/{valid}` with `{valid}` =
    HMAC_SHA256(id, your_private_token). The authenticated GET remains the source of
    truth.

    The payer's browser is also redirected to your registered return URL with the same
    three parameters. UX signal only.

tags:
  - name: Payment (PayIn)
    description: Create payment orders and query their state.
  - name: Payment (PayOut)
    description: Send money from your wallet to a beneficiary (Pago Móvil or transfer).
  - name: Wallet
    description: Balance and ledger movements of your Granve wallet.
  - name: Tools
    description: Utility endpoints that support your integration.
paths:
  /v1.0/payment:
    post:
      tags: [Payment (PayIn)]
      summary: Create
      description: |
        Creates a payment order and returns the payment order object, including the
        `redirect_url` where the customer must be sent to pay. Store the returned `id`:
        it identifies the order in every later query.

        When the order reaches a terminal state, the result is delivered once to the webhook
        URL registered for your account, and the payer is redirected to your registered
        return URL with `?id=…&status=…&order=…` appended.

        Idempotency on timeout: your `order` is the idempotency key. If this request times out
        with no response, retry with the same `order`. A `409` means the first request already
        created it (never a duplicate) — recover it with `GET /v1.0/payment/order/{order}` to
        read its `id` and `redirect_url`. Never generate a new `order` for a retry: that is how
        double charges happen.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment, amount, email, order, subject]
              properties:
                payment:
                  type: string
                  description: "Id of the payment method to charge with — list the ones enabled for your account with GET /v1.0/payment-methods (Tools)."
                amount:
                  type: string
                  pattern: '^[0-9]+(\.[0-9]{1,2})?$'
                  description: "Amount to charge. Decimal with up to 2 places; minimum 5 VES."
                email:
                  type: string
                  format: email
                  description: "Payer's email."
                order:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,50}$'
                  description: "Your unique order identifier — letters, digits and hyphens, up to 50 characters. Reusing an existing value returns 409."
                subject:
                  type: string
                  minLength: 2
                  maxLength: 100
                  pattern: '^[a-zA-Z0-9 ]{2,100}$'
                  description: "Description of the product or service — 2-100 characters: letters, digits and spaces. Accents are folded to plain letters (a-acute to a, enye to n); any other character is removed."
                document:
                  type: string
                  pattern: '^[VEJ][0-9]{7,10}$'
                  description: "Payer's identity document: type letter + digits (e.g. V00000000). Allowed types: V, E, J."
                phone:
                  type: string
                  pattern: '^(0412|0414|0416|0422|0424|0426)[0-9]{7}$'
                  description: "Payer's phone (e.g. 04120000000)."
                additional_parameters:
                  type: object
                  additionalProperties: true
                  description: "Free key/value object echoed back inside commerce.additional_parameters in every response."
                payer:
                  type: object
                  description: "Optional prefill for the background bank verification. All sub-fields optional."
                  properties:
                    id_number: { type: string, pattern: '^[VJE][0-9]{5,9}$', description: "Payer's document: letter + 5-9 digits." }
                    phone_number: { type: string, pattern: '^(0412|0414|0416|0422|0424|0426)[0-9]{7}$' }
                    bank_code: { type: string, description: "A 4-digit code from GET /v1.0/banks." }
                    payment_reference: { type: string, pattern: '^[0-9]{4,14}$' }
                    payment_date: { type: string, format: date, description: "YYYY-MM-DD." }
            example:
              payment: "YOURMETHODTOKEN"
              amount: "100.00"
              email: "user@example.com"
              order: "ORDER0001"
              subject: "Lorem ipsum dolor sit"
              document: "V00000000"
              phone: "04120000000"
      responses:
        "200":
          description: Payment order created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "409":
          description: The `order` identifier already exists for your account.
          content:
            application/json:
              example:
                status: failed
                error:
                  type: invalid_request_error
                  message:
                    order: "already exists"
        "500":
          description: Internal server error.

    get:
      tags: [Payment (PayIn)]
      summary: List
      description: |
        Returns the payment orders of your account as an array of payment order objects,
        newest first.

        For large volumes use keyset pagination: read the `X-Next-Cursor` response header
        and pass it back as `after_id` to fetch the next page.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today; must not be in the future. The range may span at most 92 days."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10–5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: after_id
          in: query
          description: "Keyset cursor: pass the X-Next-Cursor header from the previous page to fetch records after it."
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Array of payment order objects.
          headers:
            X-Next-Cursor:
              description: "Cursor for the next page — pass it as after_id."
              schema: { type: string }
            X-Total:
              description: "Total records for the filter (sent on the first page)."
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentOrder"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "500":
          description: Internal server error.

  /v1.0/payment/{id}:
    get:
      tags: [Payment (PayIn)]
      summary: Get
      description: Retrieves one payment order using the `id` returned by Create.
      parameters:
        - name: id
          in: path
          required: true
          description: "The payment order id (pi_…)."
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payment order object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: Internal server error.

  /v1.0/payment/order/{order}:
    get:
      tags: [Payment (PayIn)]
      summary: Get by order
      description: Retrieves one payment order using your own `order` identifier instead of the Granve id.
      parameters:
        - name: order
          in: path
          required: true
          description: "Your order identifier (the one you sent on Create)."
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payment order object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOrder"
              examples:
                default:
                  $ref: "#/components/examples/PaymentOrderExample"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: Internal server error.

  /v1.0/payment/notify/{id}/valid/{valid}:
    get:
      tags: [Payment (PayIn)]
      summary: Re-send webhook (manual)
      description: |
        Manually re-sends the `completed` webhook of a payment whose delivery was never
        acknowledged. Self-authenticated by `{valid}` — it does not use the standard
        `Authorization`/`X-Date`/`X-Sign` headers. Only re-fires for successful orders from
        the last 3 months whose webhook is still pending; always answers an empty 200 and
        never reveals whether the order exists.
      parameters:
        - name: id
          in: path
          required: true
          description: "The payment order id (pi_...)."
          schema: { type: string }
        - name: valid
          in: path
          required: true
          description: "HMAC_SHA256(id, your_private_token), hex."
          schema: { type: string, pattern: '^[a-f0-9]{64}$' }
      responses:
        "200":
          description: Always returned (empty body), whether or not anything was re-sent.

  /v1.0/payout:
    post:
      tags: [Payment (PayOut)]
      summary: Create
      description: |
        Creates a payout to a beneficiary and debits your wallet (amount + fee).

        The destination is defined by `bank.num`: an 11-digit mobile number selects
        Pago Móvil (`bank.code` required), a 20-digit account number selects bank
        transfer (`bank.type` required; the bank is taken from the account's first
        4 digits).

        Idempotency on timeout: your `order` is the idempotency key. If this request times
        out, retry with the same `order` — a `409` means the first request already ran and
        your wallet was debited only once. Recover it with `GET /v1.0/payout/order/{order}`.
        Never generate a new `order` for a retry: that is how double withdrawals happen.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, phone, order, subject, amount, bank]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 100
                phone:
                  type: string
                  pattern: '^(0412|0414|0416|0422|0424|0426)[0-9]{7}$'
                  description: "11 digits; prefixes 0412, 0414, 0416, 0422, 0424, 0426."
                order:
                  type: string
                  pattern: '^[a-zA-Z0-9-]{1,99}$'
                  description: "Your unique payout identifier. Reusing a value returns 409."
                subject:
                  type: string
                  minLength: 5
                  maxLength: 200
                  pattern: '^[a-zA-Z0-9 ]{5,200}$'
                  description: "Concept of the payout — 5-200 characters: letters, digits and spaces. Accents are folded to plain letters; any other character is removed."
                amount:
                  type: integer
                  minimum: 1
                  description: "Amount in VES, whole numbers only (no decimals)."
                bank:
                  type: object
                  required: [name, document, num]
                  properties:
                    name: { type: string, minLength: 3, maxLength: 50 }
                    document:
                      type: string
                      pattern: '^[VEJ][0-9]{7,10}$'
                      description: "Type letter (V, E, J) + 7–10 digits (e.g. V00000000)."
                    num:
                      type: string
                      pattern: '^((0412|0414|0416|0422|0424|0426)[0-9]{7}|[0-9]{20})$'
                      description: "11-digit mobile (Pago Móvil) or 20-digit account (transfer)."
                    code:
                      type: string
                      description: "Bank code — required for Pago Móvil. Any code returned by GET /v1.0/banks (Tools)."
                    type:
                      type: string
                      enum: [A, C]
                      description: "Account type — required for transfers: A (savings) or C (checking)."
                additional_parameters:
                  type: object
                  additionalProperties: true
            example:
              email: "user@example.com"
              phone: "04120000000"
              order: "PO-0001"
              subject: "Lorem ipsum payout"
              amount: 100
              bank:
                name: "Lorem Ipsum"
                document: "V00000000"
                num: "04120000000"
                code: "0102"
      responses:
        "200":
          description: Payout created (`status = created`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "409":
          description: The `order` identifier already exists for your account.
        "500":
          description: Internal server error.

    get:
      tags: [Payment (PayOut)]
      summary: List
      description: |
        Returns the payouts of your account, newest first. **Without dates the range
        defaults to today only** (empty result = 200 []). Keyset
        pagination via `after_id` + `X-Next-Cursor`, like PayIn List.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today; must not be in the future. The range may span at most 92 days."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10-5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: after_id
          in: query
          description: "Keyset cursor: pass the X-Next-Cursor header from the previous page to fetch records after it."
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Array of payout objects.
          headers:
            X-Next-Cursor:
              schema: { type: string }
            X-Total:
              description: "First page only."
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1.0/payout/{id}:
    get:
      tags: [Payment (PayOut)]
      summary: Get
      description: Retrieves one payout by the `id` returned on Create. Lookups cover the last 180 days.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payout object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1.0/payout/order/{order}:
    get:
      tags: [Payment (PayOut)]
      summary: Get by order
      description: Retrieves the payout for your own `order` identifier. Each `order` is unique to one payout and cannot be reused.
      parameters:
        - name: order
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The payout object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1.0/wallet/balance:
    get:
      tags: [Wallet]
      summary: Balance
      description: Returns your current wallet balance (VES).
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: Current balance.
          content:
            application/json:
              example:
                balance: 900.00
                currency: "VES"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          description: No wallet provisioned for the account.

  /v1.0/wallet:
    get:
      tags: [Wallet]
      summary: List
      description: |
        Returns the wallet movements of your account. **Without dates the range
        defaults to today only.**
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
        - name: start_date
          in: query
          description: "Filter start date (YYYY-MM-DD). Defaults to today; must not be in the future."
          schema: { type: string, format: date }
        - name: end_date
          in: query
          description: "Filter end date (YYYY-MM-DD). Defaults to today."
          schema: { type: string, format: date }
        - name: per_page
          in: query
          description: "Records per page: 10-5000. Default 5000."
          schema: { type: integer, minimum: 10, maximum: 5000 }
        - name: page
          in: query
          description: "Page number (offset pagination), starting at 1."
          schema: { type: integer, minimum: 1 }
        - name: order
          in: query
          description: "Sort by movement id: ASC or DESC (default)."
          schema: { type: string, enum: [ASC, DESC] }
      responses:
        "200":
          description: Array of movement objects.
          headers:
            X-Page:
              schema: { type: integer }
            X-Per-Page:
              schema: { type: integer }
            X-Total:
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WalletMovement"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1.0/wallet/{id}:
    get:
      tags: [Wallet]
      summary: Get
      description: Retrieves one wallet movement by its `id`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: The movement object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletMovement"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1.0/payment-methods:
    get:
      tags: [Tools]
      summary: List your payment methods
      description: |
        Returns the payment methods enabled for your account. Every `id` in this list is a
        valid value for the `payment` field of Create a payment order — and vice versa. The
        catalog rarely changes; cache it and refresh on demand. An empty array means no
        methods are enabled for the account yet.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: One object per enabled method.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: "Value to send as `payment` on Create."
                    name: { type: string }
                    description: { type: string }
                    type:
                      type: string
                      enum: [mobile_payment, bank_transfer, card]
                    currency: { type: string }
              example:
                - id: "LOREMIPSUMP2C"
                  name: "Lorem Ipsum"
                  description: "Lorem ipsum dolor sit amet"
                  type: "mobile_payment"
                  currency: "VES"
        "401":
          $ref: "#/components/responses/AuthError"

  /v1.0/banks:
    get:
      tags: [Tools]
      summary: List accepted banks
      description: |
        Returns the bank catalog accepted by the API. Every `code` is a valid value for
        `bank.code` on Create a payout and for `payer.bank_code` on Create a payment
        order — and vice versa. The catalog rarely changes; cache it.
      parameters:
        - $ref: "#/components/parameters/HeaderAuthorization"
        - $ref: "#/components/parameters/HeaderDate"
        - $ref: "#/components/parameters/HeaderSign"
      responses:
        "200":
          description: One object per accepted bank, ordered by code.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code: { type: string }
                    name: { type: string }
              example:
                - code: "0102"
                  name: "BANCO DE VENEZUELA"
                - code: "0104"
                  name: "BANCO VENEZOLANO DE CREDITO"
        "401":
          $ref: "#/components/responses/AuthError"

components:
  parameters:
    HeaderAuthorization:
      name: Authorization
      in: header
      required: true
      description: "Bearer + your public token."
      schema: { type: string }
    HeaderDate:
      name: X-Date
      in: header
      required: true
      description: "UTC timestamp, ISO-8601 with Z (YYYY-MM-DDTHH:MM:SSZ), ±5 minutes."
      schema: { type: string }
    HeaderSign:
      name: X-Sign
      in: header
      required: true
      description: "Hex HMAC-SHA256 of the X-Date value, keyed with your private token."
      schema: { type: string }

  responses:
    ValidationError:
      description: Validation failed. `error.message` details each invalid field.
      content:
        application/json:
          example:
            status: failed
            error:
              type: invalid_request_error
              message:
                amount: "must be at least 5 VES"
    AuthError:
      description: Authentication failed (token, X-Date or X-Sign invalid).
      content:
        application/json:
          example:
            status: failed
            error:
              code: DATE_INVALID
              message: "El header X-Date es obligatorio."
              hint: "Envía el header X-Date en UTC ISO-8601 con Z."
    NotFound:
      description: Resource not found.
      content:
        application/json:
          example:
            status: failed
            error:
              message: "not found"

  schemas:
    Payout:
      type: object
      properties:
        id:
          type: string
          description: "Public identifier of the payout (po_…)."
        status:
          type: string
          enum: [created, processing, completed, declined, rejected, settlement_pending, settled]
        created_at:
          type: string
        commerce:
          type: object
          properties:
            email: { type: string }
            phone: { type: string }
            order: { type: string }
            subject: { type: string }
            amount: { type: number }
            bank:
              type: object
              properties:
                name: { type: string }
                document: { type: string }
                code: { type: string }
                type: { type: string, nullable: true }
                num: { type: string }
                method:
                  type: string
                  enum: [mobile, transfer]
                  description: "Delivery method."
        wallet:
          type: object
          description: "The two wallet movements generated by the payout: the amount and the fee. `payout_tax` is the fee (legacy field name — not a tax). System-generated `subject` values (e.g. Cargo payout…) are returned in Spanish."
          properties:
            payout:
              $ref: "#/components/schemas/WalletMovement"
            payout_tax:
              $ref: "#/components/schemas/WalletMovement"

    WalletMovement:
      type: object
      properties:
        id: { type: string }
        created_at: { type: string }
        type:
          type: string
          enum: [income, expense]
        subject: { type: string }
        amount: { type: number }
        balance:
          type: number
          description: "Wallet balance right after this movement."
        currency: { type: string }

    PaymentOrder:
      type: object
      properties:
        id:
          type: string
          description: "Public identifier of the payment order (pi_…)."
        status:
          type: string
          description: >-
            The last five values (voided, refunded, partially_refunded, disputed,
            chargeback) are post-payment states set by Granve operations (compliance,
            support or the admin panel), never by the payment flow — treat them as
            read-only signals that can appear on an already completed order.
          enum: [created, pending, processing, under_review, retrying, completed,
                 declined, attempts_exhausted, failed, canceled_user, canceled_system,
                 expired, voided, refunded, partially_refunded, disputed, chargeback]
        created_at:
          type: string
        redirect_url:
          type: string
          description: "Signed URL of the hosted payment page — send your customer here. Opaque: host and path depend on the environment and the payment method; use it verbatim, never build or parse it."
        commerce:
          type: object
          properties:
            order: { type: string }
            subject: { type: string }
            amount: { type: string }
            additional_parameters:
              type: object
              additionalProperties: true
        payer:
          type: object
          properties:
            email: { type: string }
            document: { type: string, nullable: true }
            phone: { type: string, nullable: true }
        payment:
          type: object
          properties:
            start: { type: string, nullable: true }
            end: { type: string, nullable: true }
            amount: { type: string }
            fee: { type: string }
            authorization:
              type: string
              nullable: true
              description: "Bank reference, present when status = completed."
            reason: { type: string, nullable: true }
            gateway: { type: string, nullable: true }
            type:
              type: string
              enum: [bank_transfer, mobile_payment, bank_card, default]
            card:
              type: object
              properties:
                last4digits: { type: string, nullable: true }
                authorizationcode: { type: string, nullable: true }
                installments: { type: integer, nullable: true }
                method: { type: string, nullable: true }

  examples:
    PaymentOrderExample:
      value:
        id: "pi_00000000000000000000000000000000"
        status: "pending"
        created_at: "2026-01-01 00:00:00"
        redirect_url: "{base_url}/{payment_method}/pi_00000000000000000000000000000000?signature=…"
        commerce:
          order: "ORDER0001"
          subject: "Lorem ipsum dolor sit"
          amount: "100.00"
        payer:
          email: "user@example.com"
          document: "V00000000"
          phone: "04120000000"
        payment:
          start: null
          end: null
          amount: "0.00"
          fee: "0.00"
          authorization: null
          reason: null
          gateway: null
          type: "mobile_payment"
          card:
            last4digits: null
            authorizationcode: null
            installments: null
            method: null
